<h1> About Us</h1>
<div>

<img src="assets/mxLogo.png" alt="" />

</div>
<div><p>
    
        MX Player is a video streaming app that offers thousands of hours of premium, exclusive and original content from leading Producers and Publishers. It's a one-stop app for some of the best Movies, TV Shows, Web Series, Music Videos and Short Videos.
        The platform lays focus on Exclusive Original Content with emphasis on high-quality Hindi and Regional Languages. The language range includes everything from Malayalam, Tamil, Bengali, Punjabi, Bhojpuri, and Kannada. MX Player will offer consumers more than 20 original shows and over 50,000 hours of Premium Content across languages. Large collection of Movies, TV Shows, Web Series, Music Videos and Short Videos. Watch your favourite content on the go anytime, anywhere.
    
</p>

</div>